<!-- <input type="text" [(ngModel)]="img">
<button (click)="closeImg()">Toogle Img</button>
<app-img [img]="img" (loaded)="onLoaded($event)" *ngIf="showImg"></app-img>
 -->
<app-nav></app-nav>
<button (click)="createUser()">Create User</button>
<p>
  <a href="./assets/files/texto.txt" download></a>
</p>
<p>
  <button (click)="downloadPdf()">
    Descargar PDF
  </button>
</p>
<p>
  <input type="file" (change)="onUpload($event)">
  <app-img [img]="imgRta"></app-img>
</p>
<app-products></app-products>
